<!DOCTYPE html>
<html>
	<head>
		<title>Montreal Birth Companions</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <meta charset="UTF-8">
        <%= stylesheet_link_tag "stylesheet.css" %>
    </head>
	<body>
	    <div class="container">
	        <div id="header">
    			<h1>Montreal Birth Companions</h1>
        	</div>
	        <div id="announcements">
	        	<h2>Announcements</h2>
	            <p>Annoucement stuff
	            </p>
	        </div>
	        <div>
              <%= form_for(:actions, url: :action) do |f| %>
	         	<table class="table">
	                <thead>
	                    <tr>
		                  	<th>Select</th>
		                  	<th>Availability</th>
		                    <th>Expected Due Date</th>
		                    <th>Location</th>
		                    <th>Language</th>
		                    <th>Doulas</th>
		                    <th>Descriptions</th>
		                </tr>
	                </thead>
	                <tbody>
				          	<% @client.each do |client| %>
		                <tr>
		                    <th scope="row"><input type="checkbox" name="id" value="<%= client.id %>"></th>
		                    <td><%= @status[client.formStatus.to_i] %></td>
		                    <td><%= client.exepectedDueDate %></td>
		                    <td><%= client.clientAddrLine %></td>
		                    <td><%= client.clientLanguage %></td>
		                    <td><ul class="list-unstyled">
		                    		<li>Doulas: <%= client.mbcDoulaName %></li>
		                    		<li>Assistant: <%= client.backupDoulaName %></li>
		                    		<li>Mentor: <%= client.mentorDoublaName %></li>
		                    	</ul>
		                    </td>
		                    <td><%= link_to "Learn more", client_path(client) %></td>
		                </tr>
					          <% end %>
	                </tbody>
	            </table>	


                <div class="form-group">
                  <div class="col-sm-4">
                    <select class="form-control" name="options">
                      <option value="request">Request</option>
                      <option value="bookmark">Bookmark</option>
                    </select>
                  </div>
                  <input class="btn btn-default" type="submit" />
                </div>
              <% end %>

	        </div>
	        <div id="bookmarkedBirthings">
	        	<div class="panel panel-default">
	              <!-- Default panel contents -->
	                <div class="panel-heading">
	                    Bookmarked Birthings
	                </div>
	                <div class="panel-body">
	                    <p>
	                        You are currently following the cases below:
	                    </p>
	                </div>
	                  
	        </div>
	        
	        <div id="birthingsList">
	        </div>
	    </div>    
    </body>
</html>